# Fichiers Python
__pycache__/
*.py[cod]
*.pyo

# PyInstaller
build/
dist/
*.spec

# Environnements virtuels
venv/
.env/
.venv/

# Fichiers système
.DS_Store
Thumbs.db

# Éditeurs de code
.vscode/
.idea/

# Logs
*.log

# Fichiers temporaires
*.tmp
*.bak
~$*

# Jetons ou identifiants (par précaution si présents)
*.token
*.key
